
.icon-agregar:before { content: '\e800'; } /* '' */
.icon-agregar-bolsillo:before { content: '\e801'; } /* '' */
.icon-agregar-imagen:before { content: '\e802'; } /* '' */
.icon-ahorro:before { content: '\e803'; } /* '' */
.icon-anular-rechazar:before { content: '\e804'; } /* '' */
.icon-asignar-rol:before { content: '\e805'; } /* '' */
.icon-automovil:before { content: '\e806'; } /* '' */
.icon-billetera-movil:before { content: '\e807'; } /* '' */
.icon-buscar:before { content: '\e808'; } /* '' */
.icon-cambiar:before { content: '\e809'; } /* '' */
.icon-casa:before { content: '\e80a'; } /* '' */
.icon-check:before { content: '\e80b'; } /* '' */
.icon-comercial:before { content: '\e80c'; } /* '' */
.icon-configuracion:before { content: '\e80d'; } /* '' */
.icon-contrasena:before { content: '\e80e'; } /* '' */
.icon-contrasena-erronea:before { content: '\e80f'; } /* '' */
.icon-contrasena-seleccionada:before { content: '\e810'; } /* '' */
.icon-crear-cuenta-bancaria:before { content: '\e811'; } /* '' */
.icon-cuenta-bancaria-activa:before { content: '\e812'; } /* '' */
.icon-cuenta-bancaria-activa-seleccionada:before { content: '\e813'; } /* '' */
.icon-cuenta-bancaria-inactiva:before { content: '\e814'; } /* '' */
.icon-cuenta-bancaria-inactiva-seleccionada:before { content: '\e815'; } /* '' */
.icon-datos-bolsillos:before { content: '\e816'; } /* '' */
.icon-datos-complementarios:before { content: '\e817'; } /* '' */
.icon-datos-cuenta:before { content: '\e818'; } /* '' */
.icon-descargar-pdf:before { content: '\e819'; } /* '' */
.icon-detalles-operacion:before { content: '\e81a'; } /* '' */
.icon-divisas:before { content: '\e81b'; } /* '' */
.icon-documento:before { content: '\e81c'; } /* '' */
.icon-editar:before { content: '\e81d'; } /* '' */
.icon-educacion:before { content: '\e81e'; } /* '' */
.icon-eliminar:before { content: '\e81f'; } /* '' */
.icon-eliminar-tabla:before { content: '\e820'; } /* '' */
.icon-enviar:before { content: '\e821'; } /* '' */
.icon-etiquetar:before { content: '\e822'; } /* '' */
.icon-femenino:before { content: '\e823'; } /* '' */
.icon-generar-extracto:before { content: '\e824'; } /* '' */
.icon-gerencia:before { content: '\e825'; } /* '' */
.icon-gestionar:before { content: '\e826'; } /* '' */
.icon-home:before { content: '\e827'; } /* '' */
.icon-icono-mail:before { content: '\e828'; } /* '' */
.icon-inactivo-off:before { content: '\e829'; } /* '' */
.icon-inactivos:before { content: '\e82a'; } /* '' */
.icon-inactivos-seleccionado:before { content: '\e82b'; } /* '' */
.icon-informacion:before { content: '\e82c'; } /* '' */
.icon-juridico:before { content: '\e82d'; } /* '' */
.icon-link:before { content: '\e82e'; } /* '' */
.icon-link-documento:before { content: '\e82f'; } /* '' */
.icon-lista-divisas:before { content: '\e830'; } /* '' */
.icon-listado-cuentas-internacionales:before { content: '\e831'; } /* '' */
.icon-listado-cuentas-pendientes:before { content: '\e832'; } /* '' */
.icon-listado-funcionario:before { content: '\e833'; } /* '' */
.icon-listado-funcionario-seleccionado:before { content: '\e834'; } /* '' */
.icon-listado-operaciones:before { content: '\e835'; } /* '' */
.icon-listado-ordenes-nacionales:before { content: '\e836'; } /* '' */
.icon-listado-pagadores:before { content: '\e837'; } /* '' */
.icon-mail-contraseña:before { content: '\e838'; } /* '' */
.icon-mail-exitoso:before { content: '\e839'; } /* '' */
.icon-mas:before { content: '\e83a'; } /* '' */
.icon-masculino:before { content: '\e83b'; } /* '' */
.icon-mensaje-notificacion:before { content: '\e83c'; } /* '' */
.icon-mis-bolsillos:before { content: '\e83d'; } /* '' */
.icon-mis-movimientos:before { content: '\e83e'; } /* '' */
.icon-movimientos:before { content: '\e83f'; } /* '' */
.icon-notificacion:before { content: '\e840'; } /* '' */
.icon-nueva-clave:before { content: '\e841'; } /* '' */
.icon-nuevo-lote:before { content: '\e842'; } /* '' */
.icon-nuevo-pagador:before { content: '\e843'; } /* '' */
.icon-nuevo-reporte:before { content: '\e844'; } /* '' */
.icon-ocio:before { content: '\e845'; } /* '' */
.icon-otro:before { content: '\e846'; } /* '' */
.icon-politicas-servicio:before { content: '\e847'; } /* '' */
.icon-procesos:before { content: '\e848'; } /* '' */
.icon-provisiones:before { content: '\e849'; } /* '' */
.icon-relaciones-pago:before { content: '\e84a'; } /* '' */
.icon-reporte-pago:before { content: '\e84b'; } /* '' */
.icon-reportes:before { content: '\e84c'; } /* '' */
.icon-resumen:before { content: '\e84d'; } /* '' */
.icon-retirar:before { content: '\e84e'; } /* '' */
.icon-rol:before { content: '\e84f'; } /* '' */
.icon-salir:before { content: '\e850'; } /* '' */
.icon-sistemas:before { content: '\e851'; } /* '' */
.icon-subir-imagen:before { content: '\e852'; } /* '' */
.icon-subir-video:before { content: '\e853'; } /* '' */
.icon-talento-humano:before { content: '\e854'; } /* '' */
.icon-telefono:before { content: '\e855'; } /* '' */
.icon-tesoreria:before { content: '\e856'; } /* '' */
.icon-transferir:before { content: '\e857'; } /* '' */
.icon-vacaciones:before { content: '\e858'; } /* '' */
.icon-ver:before { content: '\e859'; } /* '' */
.icon-ver-erroneo:before { content: '\e85a'; } /* '' */
.icon-verificados:before { content: '\e85b'; } /* '' */
.icon-verificados-seleccionado:before { content: '\e85c'; } /* '' */
.icon-verificar:before { content: '\e85d'; } /* '' */
.icon-verificar-aprobar:before { content: '\e85e'; } /* '' */
.icon-verificar-seleccionado:before { content: '\e85f'; } /* '' */
.icon-ver-mas:before { content: '\e860'; } /* '' */
.icon-ver-normal:before { content: '\e861'; } /* '' */
.icon-ver-tabla:before { content: '\e862'; } /* '' */
.icon-visualizar-gastos:before { content: '\e863'; } /* '' */
.icon-activo-on:before { content: '\e864'; } /* '' */
.icon-actualizado-completo:before { content: '\e865'; } /* '' */
.icon-administracion:before { content: '\e866'; } /* '' */
.icon-administrativo:before { content: '\e867'; } /* '' */
